.places {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .head-title {
	margin-top: 30px;
	margin-left: 10px;
	text-align: left;
	font-size: 30px;
  }
  
  .places-container {
	display: flex;
  }
  h2 {
	font-size: 30px;
  }
  .home,
  .suite,
  .tiny {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
  }
  .home-price {
	display: flex;
	justify-content: flex-end;
  }
  .price_by_night {
	color: #ff5a5f;
	min-width: 60px;
	padding: 15px;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	font-size: 30px;
	margin-left: 40px;
	margin-bottom: 15px;
	
  }
  
  .information {
	height: 80px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	display: flex;
  }
  .max_guest {
	width: 100px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
  }
  .max_guest .guest-icon {
	width: 100px;
	height: 40px;
	background: url(../images/icon_group.png)
	  no-repeat center;
  }
  .number_rooms {
	width: 100px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
  }
  
  .number_rooms .rooms-icon {
	width: 100px;
	height: 40px;
	background: url(../images/icon_bed.png)
	  no-repeat center;
  }
  .number_bathrooms {
	width: 100px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
  }
  
  .number_bathrooms .bath-icon {
	width: 100px;
	height: 40px;
	background: url(../images/icon_bath.png)
	  no-repeat center;
  }
  
  .user {
	margin: 15px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
  }
  
  .user .owner {
	font-weight: bold;
	margin-right: 5px;
  }